version: '3.8'
services:
  tidybooks:  
    build: .
    container_name: tidybooks  
    ports:
      - "8502:8501" 
    volumes:
      - /volume1/Zack/media/downloads/Audiobooks - MAM - Seeding:/downloads:ro
      - /volume1/Zack/media/audiobooks:/audiobooks:rw
      - /volume2/docker/tidybooks:/app/data
    environment:
      - PUID=0
      - PGID=0
    dns:
      - 8.8.8.8
      - 1.1.1.1
    command: streamlit run app.py --server.port=8502 --server.address=0.0.0.0
    restart: unless-stopped
