version: '3.8'
services:
  tidybooks:  # Service Name Changed
    build: .
    container_name: tidybooks  # Container Name Changed
    ports:
      - "8502:8501"
    volumes:
      # Remember to verify your Synology paths on the left
      - /volume1/Zack/media/downloads/Audiobooks - MAM - Seeding:/downloads:ro
      - /volume1/Zack/media/audiobooks:/audiobooks:rw
      - /volume2/docker/tidybooks/data:/app/data
    environment:
      - PUID=0
      - PGID=0
    restart: unless-stopped
